<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prodaas.mapper.ProxyMapper">
    <select id="getProxies" resultType="map">
        SELECT prx_ip host, prx_port port FROM proxies_prx
    </select>
</mapper>